# Table of Contents
 <p><div class="lev1"><a href="#Obsah"><span class="toc-item-num">1 - </span>Obsah</a></div><div class="lev2"><a href="#Ziskat-data"><span class="toc-item-num">1.1 - </span>Ziskat data</a></div><div class="lev3"><a href="#Facebook-api-stuff"><span class="toc-item-num">1.1.1 - </span>Facebook api stuff</a></div><div class="lev3"><a href="#Zkouska-dat"><span class="toc-item-num">1.1.2 - </span>Zkouska dat</a></div><div class="lev2"><a href="#Vybrat-z-komentaru-ciselne-hodnoty-+-procistit"><span class="toc-item-num">1.2 - </span>Vybrat z komentaru ciselne hodnoty + procistit</a></div><div class="lev1"><a href="#Vysledky"><span class="toc-item-num">2 - </span>Vysledky</a></div><div class="lev1"><a href="#Pandas-to-the-rescue!"><span class="toc-item-num">3 - </span>Pandas to the rescue!</a></div><div class="lev2"><a href="#Cetnosti-jednotlivych-odpovedi"><span class="toc-item-num">3.1 - </span>Cetnosti jednotlivych odpovedi</a></div><div class="lev2"><a href="#Prehled"><span class="toc-item-num">3.2 - </span>Prehled</a></div><div class="lev2"><a href="#Hodne-oblibene-odpovedi-(vice-nez-5x),-serazeno"><span class="toc-item-num">3.3 - </span>Hodne oblibene odpovedi (vice nez 5x), serazeno</a></div><div class="lev2"><a href="#Hodne-oblibene-odpovedi-(vice-nez-5x),-neserazeno"><span class="toc-item-num">3.4 - </span>Hodne oblibene odpovedi (vice nez 5x), neserazeno</a></div><div class="lev1"><a href="#Jaky-byl-spravny-vysledek?-Aneb-vyjimka-potvrzuje-pravidlo?"><span class="toc-item-num">4 - </span>Jaky byl spravny vysledek? Aneb vyjimka potvrzuje pravidlo?</a></div>

In [121]:
import facebook
import re
import json
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from ipywidgets import interact
plt.style.use('ggplot')

In [122]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

## Ziskat data
### Facebook api stuff
api_token se da ziskat [zde](https://developers.facebook.com/tools/explorer/), pokud by si to chtel nekdo vyzkouset

In [12]:
my_user_token = 'EAACEdEose0cBAF2npHNgsRFLztwAOE1ztAmIDfGOUwFDONayUMrW6jl3oKXqmFbmWUPHMS9Y1Lsp1JZCK7ZAZC5bBewyDEQjMdHSeWtjdV5vCbcyeBv0mK2DvySuKLvHa1CwabAa8rLB2pjdZBUDxUcZCjeQUyegLI9issvlMxwZDZD'
jumppark = '1206510672706736/comments'
g = facebook.GraphAPI(access_token=my_user_token)

V dobe psani tam bylo lehce pod 2000 komentaru

In [13]:
comments = g.get_object(jumppark, limit=2000)

### Zkouska dat
Vetsina zaznamu se vyskytuje ve formatu [cislo]G/g

In [16]:
len(comments['data'])

359

In [18]:
for c in comments['data'][:10]:
    print(c['message'])

Wow, m√°me tady ≈ôadu fakt dobr√Ωch tip≈Ø :-) Je≈°tƒõ se sice nikdo netrefil √∫plnƒõ p≈ôesnƒõ, ale nen√≠ to v≈Øbec ≈°patn√©!
V√°≈æen√≠ soutƒõ≈æ√≠c√≠ :-) Je≈°tƒõ do 17. hodiny p≈ôij√≠m√°me nov√© tipy a potom soutƒõ≈æ ukonƒç√≠me.
2785
Hodnƒõ!
893 :D
1600 kus≈Ø
2500 ks
1025 :D
1500ks
alespo≈à 510

Ulozit data pro pripadne pozdejsi pouziti, protoze jak jsem pozdeji zjistil, facebook_api_key vydrzi asi tak hodinku

In [20]:
with open("jumppark_comments.json", 'w') as f:
    f.write(json.dumps(comments))

In [21]:
messages = [c['message'] for c in comments['data']]

## Vybrat z komentaru ciselne hodnoty + procistit
zachyti vsechny cisla z komentu i ve formatu napr.:
urcite by se dalo vymyslet robustnejsi reseni, ale pro tyto ucely by to mohlo stacit

In [102]:
def parse_comment(comment):
    result =  "".join(re.findall(r'\d+', comment, flags=re.IGNORECASE))
    return result if result else 0

In [117]:
df = pd.DataFrame(comments['data'])

df['tip'] = df.message.apply(parse_comment)

df.tip = df.tip.astype(int)

# Zde muzu jednoduse vyhledat spravnou odpoved a kdo ji napsal, pripadne libovolne filtrovat data

In [118]:
df

,can_remove,created_time,from,id,like_count,message,user_likes,tip
0,False,2016-05-11T11:19:48+0000,"{'id': '938417196182753', 'name': 'JUMPPARK Br...",1206510672706736_1207095009314969,16,"Wow, m√°me tady ≈ôadu fakt dobr√Ωch tip≈Ø :-) Je≈°t...",False,0
1,False,2016-05-12T06:53:06+0000,"{'id': '938417196182753', 'name': 'JUMPPARK Br...",1206510672706736_1207611335930003,8,V√°≈æen√≠ soutƒõ≈æ√≠c√≠ :-) Je≈°tƒõ do 17. hodiny p≈ôij√≠...,False,17
2,False,2016-05-12T08:11:10+0000,"{'id': '10201785679203043', 'name': 'Robin Nem...",1206510672706736_1207656105925526,0,2785,False,2785
3,False,2016-05-11T08:53:48+0000,"{'id': '10204219543682895', 'name': 'Ad√©la ≈†tr...",1206510672706736_1207044195986717,8,Hodnƒõ!,False,0
4,False,2016-05-11T08:39:50+0000,"{'id': '609994052463797', 'name': 'Jakub Kruz'}",1206510672706736_1207039975987139,2,893 :D,False,893
5,False,2016-05-11T09:20:11+0000,"{'id': '671208702965757', 'name': 'M√°ja Neuman...",1206510672706736_1207051585985978,1,1600 kus≈Ø,False,1600
6,False,2016-05-11T08:55:42+0000,"{'id': '10201706299929440', 'name': 'Fekete Da...",1206510672706736_1207044692653334,1,2500 ks,False,2500
7,False,2016-05-11T09:14:55+0000,"{'id': '639529799495498', 'name': 'Kaƒça Br√≠mov√°'}",1206510672706736_1207050195986117,1,1025 :D,False,1025
8,False,2016-05-11T09:18:23+0000,"{'id': '1520787074867332', 'name': 'Natalie Hr...",1206510672706736_1207051155986021,1,1500ks,False,1500
9,False,2016-05-11T08:21:31+0000,"{'id': '980913835254672', 'name': 'Nina ≈†≈Østko...",1206510672706736_1207035312654272,1,alespo≈à 510,False,510
10,False,2016-05-11T08:16:29+0000,"{'id': '796636717054385', 'name': 'Nikola ƒåech...",1206510672706736_1207033732654430,1,1500 tipuji üòÇ,False,1500
11,False,2016-05-11T08:52:25+0000,"{'id': '736812326366425', 'name': 'Ad√©la Budin...",1206510672706736_1207043792653424,3,1250,False,1250
12,False,2016-05-11T09:26:11+0000,"{'id': '672359339549989', 'name': 'Mara Mottl'}",1206510672706736_1207053359319134,1,1284,False,1284
13,False,2016-05-11T08:41:43+0000,"{'id': '751758191525190', 'name': 'Radka Vozdo...",1206510672706736_1207040379320432,1,721,False,721
14,False,2016-05-11T09:26:26+0000,"{'id': '875849912428486', 'name': 'David Fiebi...",1206510672706736_1207053432652460,1,820,False,820
15,False,2016-05-11T09:00:21+0000,"{'id': '839131039484874', 'name': 'Tom√°≈° Petr≈Ø'}",1206510672706736_1207046239319846,1,3500,False,3500
16,False,2016-05-11T08:35:35+0000,"{'id': '623365117739554', 'name': 'Jirka Zl√°mal'}",1206510672706736_1207039015987235,1,2000,False,2000
17,False,2016-05-11T09:14:39+0000,"{'id': '10201833608116445', 'name': 'Denisa Go...",1206510672706736_1207050085986128,1,947,False,947
18,False,2016-05-11T09:11:57+0000,"{'id': '996607357020577', 'name': 'Jana Da≈àhel...",1206510672706736_1207049469319523,1,1277,False,1277
19,False,2016-05-11T08:26:39+0000,"{'id': '10202152813101762', 'name': 'Al≈æbet ≈†v...",1206510672706736_1207036722654131,1,1852,False,1852
20,False,2016-05-11T08:51:42+0000,"{'id': '381106418725643', 'name': 'Ondra Kalha...",1206510672706736_1207043572653446,1,700,False,700
21,False,2016-05-11T09:25:41+0000,"{'id': '1516828418605310', 'name': 'Anna Pezla...",1206510672706736_1207053282652475,1,2500,False,2500
22,False,2016-05-11T09:18:25+0000,"{'id': '661802583932782', 'name': 'Dan Bravans...",1206510672706736_1207051179319352,1,5000,False,5000
23,False,2016-05-11T08:49:08+0000,"{'id': '648216821893713', 'name': 'Jan Hol√°nek'}",1206510672706736_1207042722653531,1,600,False,600
24,False,2016-05-11T08:48:26+0000,"{'id': '10201712062082083', 'name': 'Tereza Kl...",1206510672706736_1207042412653562,1,3750,False,3750
25,False,2016-05-11T09:07:14+0000,"{'id': '757613090935667', 'name': 'Sisi Veverk...",1206510672706736_1207048292652974,2,777,False,777
26,False,2016-05-11T10:49:34+0000,"{'id': '1498729340377936', 'name': 'Nikol Faff...",1206510672706736_1207085015982635,0,Stra≈°nƒõ moooc üòÇüòÇüòÇ ale tipuju si ikdyz to bude ...,False,1999
27,False,2016-05-11T11:51:46+0000,"{'id': '270903663099272', 'name': 'Ivan Petik'}",1206510672706736_1207107382647065,1,Cca 600,False,600
28,False,2016-05-11T12:07:32+0000,"{'id': '771474362925976', 'name': 'Maky Hor√°ƒçk...",1206510672706736_1207113625979774,1,907,False,907
29,False,2016-05-11T19:47:21+0000,"{'id': '601372216647617', 'name': 'Julie Wisma...",1206510672706736_1207344022623401,1,827,False,827
...,...,...,...,...,...,...,...,...
329,False,2016-05-11T12:03:06+0000,"{'id': '4892286841811', 'name': 'Hele Janƒça Pe...",1206510672706736_1207111582646645,0,1273,False,1273
330,False,2016-05-11T11:41:56+0000,"{'id': '776210789080759', 'name': 'Martin P√≠rek'}",1206510672706736_1207103639314106,0,492,False,492
331,False,2016-05-11T11:35:30+0000,"{'id': '593305727483634', 'name': 'Eva Pech√°ƒçk...",1206510672706736_1207101159314354,0,1346,False,1346
332,False,2016-05-11T11:26:19+0000,"{'id': '10203165542491765', 'name': 'Terka ≈†≈•a...",1206510672706736_1207098092647994,0,621,False,621
333,False,2016-05-11T11:25:59+0000,"{'id': '733751400054246', 'name': 'Bro≈àka Mora...",1206510672706736_1207096892648114,0,1516,False,1516
334,False,2016-05-11T11:24:22+0000,"{'id': '867256673318367', 'name': 'Krist√Ωna St...",1206510672706736_1207096509314819,0,2015,False,2015
335,False,2016-05-11T11:12:33+0000,"{'id': '921362844540635', 'name': 'Barbora Tho...",1206510672706736_1207092585981878,0,2000,False,2000
336,False,2016-05-11T10:58:43+0000,"{'id': '733744373403231', 'name': 'Mikul√°≈° Kop...",1206510672706736_1207087959315674,0,3001,False,3001
337,False,2016-05-11T10:55:55+0000,"{'id': '10204338122803384', 'name': 'Lucka Men...",1206510672706736_1207087125982424,0,1021,False,1021
338,False,2016-05-11T10:48:59+0000,"{'id': '807918709268145', 'name': 'Terka Gogel...",1206510672706736_1207084839315986,0,1130,False,1130
339,False,2016-05-11T10:45:19+0000,"{'id': '564175437049074', 'name': 'Hana Vesel√°'}",1206510672706736_1207083615982775,0,1333,False,1333
340,False,2016-05-11T10:41:09+0000,"{'id': '480659645457176', 'name': 'S√°ra Kopeck√°'}",1206510672706736_1207082242649579,0,1034,False,1034
341,False,2016-05-11T10:40:55+0000,"{'id': '709953019103757', 'name': 'Kiki Svƒõtl√≠...",1206510672706736_1207082195982917,0,650,False,650
342,False,2016-05-11T10:39:36+0000,"{'id': '313356408829374', 'name': 'Maks Kobzev'}",1206510672706736_1207081849316285,0,630,False,630
343,False,2016-05-11T10:38:12+0000,"{'id': '10204068414657342', 'name': 'Mark√©ta V...",1206510672706736_1207081432649660,0,1238,False,1238
344,False,2016-05-11T10:31:58+0000,"{'id': '633548950106144', 'name': 'Dominika Pr...",1206510672706736_1207078865983250,0,1765,False,1765
345,False,2016-05-11T10:28:55+0000,"{'id': '819780021410652', 'name': 'Hanka Hor√°k...",1206510672706736_1207077922650011,0,984,False,984
346,False,2016-05-11T10:18:29+0000,"{'id': '320648024781017', 'name': 'Veronika Ju...",1206510672706736_1207074022650401,0,2100,False,2100
347,False,2016-05-11T10:08:56+0000,"{'id': '10204815549813679', 'name': 'Matej Ned...",1206510672706736_1207068402650963,0,1376,False,1376
348,False,2016-05-11T09:57:21+0000,"{'id': '972217519473504', 'name': 'Timotej Kom...",1206510672706736_1207063042651499,0,1188,False,1188
349,False,2016-05-11T09:48:42+0000,"{'id': '248431972027737', 'name': 'Jan Ost≈ô√≠≈æek'}",1206510672706736_1207060029318467,0,1330,False,1330
350,False,2016-05-11T09:46:19+0000,"{'id': '1001902743178209', 'name': 'Jana Strak...",1206510672706736_1207059305985206,0,930,False,930
351,False,2016-05-11T09:35:43+0000,"{'id': '745478925521201', 'name': 'Veronika Pe...",1206510672706736_1207055735985563,0,2121,False,2121
352,False,2016-05-11T09:35:26+0000,"{'id': '10201784059443068', 'name': 'Michal ≈†o...",1206510672706736_1207055619318908,0,875,False,875
353,False,2016-05-11T12:52:46+0000,"{'id': '1385976778380373', 'name': 'Sabina Hav...",1206510672706736_1207130675978069,0,1111 :) <3,False,11113
354,False,2016-05-11T11:51:50+0000,"{'id': '940577752650531', 'name': 'Adam Dvo≈ô√°k'}",1206510672706736_1207107419313728,0,1111,False,1111
355,False,2016-05-11T11:13:07+0000,"{'id': '728602157177425', 'name': 'David AchAn...",1206510672706736_1207092942648509,0,2222,False,2222
356,False,2016-05-11T20:10:28+0000,"{'id': '1541719302740792', 'name': 'Leona Reon...",1206510672706736_1207355472622256,0,1001,False,1001
357,False,2016-05-11T13:40:58+0000,"{'id': '845248922231229', 'name': 'Adam Kal√°b'}",1206510672706736_1207151339309336,0,3333,False,3333
358,False,2016-05-11T10:40:41+0000,"{'id': '819637131439596', 'name': 'Marek Zem√°n...",1206510672706736_1207082099316260,0,4488,False,4488